openapi: 3.0.3
info:
  title: LandTech Additional Opportunities Strategic Industrial Location API
  description: 'Search for land parcels and retrieve detailed insights on ownership, planning applications and property details.

    '
  version: 0.3.0
servers:
- url: https://app.land.tech/api
  description: LandTech API Service
security:
- ApiKeyAuth: []
tags:
- name: Strategic Industrial Location
  description: Endpoint for details on strategic industrial location
paths:
  /strategic_industrial_location/{sil_id}:
    get:
      operationId: getSil
      description: Given a Strategic Industrial Location ID, get details about a single Strategic Industrial Location
      summary: Details about a single Strategic Industrial Location
      tags:
      - Strategic Industrial Location
      parameters:
      - name: sil_id
        required: true
        in: path
        description: ID for a specific Strategic Industrial Locations
        schema:
          $ref: '#/components/schemas/SilID'
      responses:
        '200':
          description: Details about a single Strategic Industrial Locations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SilFeature'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
  /strategic_industrial_location:
    post:
      operationId: getSils
      description: Given a set of Strategic Industrial Location IDs, get details about strategic industrial locations in bulk
      summary: Bulk - Details about Strategic Industrial Locations
      tags:
      - Strategic Industrial Location
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - ids
              properties:
                ids:
                  type: array
                  description: List of Strategic Industrial Location IDs (max 50)
                  maxItems: 50
                  items:
                    type: string
                    example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Details about Strategic Industrial Locations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SilFeatureCollection'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
  /strategic_industrial_location/lite:
    post:
      operationId: getSilsLite
      description: Given a set of Strategic Industrial Location IDs, get details about strategic industrial locations in bulk without geometry data
      summary: Bulk - Details about Strategic Industrial Locations (without geometry)
      tags:
      - Strategic Industrial Location
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - ids
              properties:
                ids:
                  type: array
                  description: List of Strategic Industrial Location IDs (max 50)
                  maxItems: 50
                  items:
                    type: string
                    example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Details about Strategic Industrial Locations (without geometry)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SilFeatureCollectionLite'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
components:
  schemas:
    SilID:
      type: string
      format: uuid
      description: A SIL ID in the form of a UUID.
      example: c6f0312f-841b-46e3-93f5-eb4257c7b5ae
    Polygon:
      externalDocs:
        url: https://datatracker.ietf.org/doc/html/rfc7946
      type: object
      required:
      - type
      - coordinates
      properties:
        type:
          type: string
          enum:
          - Polygon
          example: Polygon
          description: the geometry type
        coordinates:
          $ref: '#/components/schemas/PolygonCoordinates'
    SilFeatureCollectionLite:
      allOf:
      - $ref: '#/components/schemas/FeaturesLite'
      - type: object
        properties:
          data:
            properties:
              features:
                type: array
                items:
                  $ref: '#/components/schemas/SilFeatureItem'
    FeatureBase:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          nullable: true
        type:
          type: string
        attributes:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          description: Attributes containing any additional details about the feature
        geometries:
          type: array
          description: Array of geometries relating to the feature
          items:
            type: object
            properties:
              area_hectares:
                type: number
                format: float
                nullable: true
                example: 0.2023428
              geometry:
                type: object
                description: GeoJSON of the feature.
                oneOf:
                - $ref: '#/components/schemas/Polygon'
                - $ref: '#/components/schemas/MultiPolygon'
    Feature:
      type: object
      properties:
        data:
          type: object
          properties:
            feature:
              $ref: '#/components/schemas/FeatureBase'
    MultiPolygon:
      description: GeoJSON MultiPolygon
      externalDocs:
        url: https://datatracker.ietf.org/doc/html/rfc7946
      type: object
      required:
      - type
      - coordinates
      properties:
        type:
          type: string
          enum:
          - MultiPolygon
          example: MultiPolygon
          description: the geometry type
        coordinates:
          type: array
          items:
            $ref: '#/components/schemas/PolygonCoordinates'
    SilFeatureCollection:
      allOf:
      - $ref: '#/components/schemas/Features'
      - type: object
        properties:
          data:
            properties:
              features:
                type: array
                items:
                  $ref: '#/components/schemas/SilFeatureItem'
    PointCoordinates:
      type: array
      maxItems: 2
      minItems: 2
      example:
      - -0.12755
      - 51.5073
      items:
        type: number
    FeatureBaseLite:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          nullable: true
        type:
          type: string
        attributes:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          description: Attributes containing any additional details about the feature
    Forbidden:
      oneOf:
      - type: object
        required:
        - user
        properties:
          user:
            type: object
            required:
            - state
            properties:
              state:
                type: string
                enum:
                - expired
                - blocked
                example: expired
      - type: object
        required:
        - message
        properties:
          message:
            type: string
            example: User not found
    PolygonCoordinates:
      type: array
      items:
        $ref: '#/components/schemas/LinearRingCoordinates'
    FeatureData:
      type: object
      properties:
        features:
          type: array
          items:
            $ref: '#/components/schemas/FeatureBase'
    SilFeatureItem:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/PowerID'
        type:
          example: strategic_industrial_location
        name:
          example: Strategic Industrial Location
        attributes:
          example: null
    FeatureDataLite:
      type: object
      properties:
        features:
          type: array
          items:
            $ref: '#/components/schemas/FeatureBaseLite'
    LinearRingCoordinates:
      type: array
      minItems: 4
      items:
        $ref: '#/components/schemas/PointCoordinates'
    SilFeature:
      allOf:
      - $ref: '#/components/schemas/Feature'
      - type: object
        properties:
          data:
            properties:
              feature:
                $ref: '#/components/schemas/SilFeatureItem'
    PowerID:
      type: string
      format: uuid
      description: A development opportunity ID in the form of a UUID.
      example: 1679c94a-2158-462f-b924-18acf92e7949
    Features:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/FeatureData'
    FeaturesLite:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/FeatureDataLite'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
