openapi: 3.0.3
info:
  title: LandTech Additional Opportunities Parcels API
  description: 'Search for land parcels and retrieve detailed insights on ownership, planning applications and property details.

    '
  version: 0.3.0
servers:
- url: https://app.land.tech/api
  description: LandTech API Service
security:
- ApiKeyAuth: []
tags:
- name: Parcels
  description: Endpoints to search for parcels and associated attributes.
paths:
  /regions:
    get:
      operationId: getRegions
      summary: List available regions
      description: 'List the GSS code and name of known regions (local authorities), that can be used when searching for parcels.

        '
      tags:
      - Parcels
      responses:
        '200':
          description: A list of regions available.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      regions:
                        type: array
                        items:
                          $ref: '#/components/schemas/RegionDetail'
              examples:
                validResponse:
                  summary: Parcels found
                  value:
                    data:
                      regions:
                      - gss_code: E06000023
                        name: Bristol, City of
                      - gss_code: E09000033
                        name: Westminster
                      - gss_code: E07000112
                        name: Folkestone and Hythe
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
  /parcels/search:
    post:
      operationId: searchParcels
      summary: Search for parcels
      description: 'Given a region GSS code and optional parcel size, retrieve a list of parcel IDs. The maximum number of IDs returned is 100,000.

        '
      tags:
      - Parcels
      requestBody:
        description: A payload including a region and optional parcel size filters.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParcelSearchRequest'
      responses:
        '200':
          description: A list of parcel IDs matching the search criteria.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParcelIds'
              examples:
                validResponse:
                  summary: Parcels found
                  value:
                    parcel_ids:
                    - 533bdf35-c073-5433-b225-076b625d22f9
                    - 7da6fe12-6f0a-3d16-5bf0-3c80839256b5
                    - 7fc7684c-bf0f-8710-327e-78d26f9c313e
                emptyResponse:
                  summary: No parcels found
                  value:
                    parcel_ids: []
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
  /parcels/advanced-search:
    post:
      operationId: searchParcelsAdvanced
      summary: Advanced parcel search - beta
      description: "Retrieve a list of parcel IDs based on a set of filters. The maximum number of IDs returned is 100,000.\n \n**Schema is subject to change.** ![Beta](https://img.shields.io/badge/Status-Beta-yellow)\n"
      tags:
      - Parcels
      requestBody:
        description: A payload including all parcel filters.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParcelSearchRequestAdvanced'
            example:
              search_filter:
                ALL:
                - id: tenure-uk
                  values:
                  - key: freehold
                    checked: true
                  - key: leasehold
                  must: MATCH_ANY
                - id: use-class-nested-id
                  values:
                  - key: E
                    items:
                    - key: E(a)
                      checked: true
                    - key: E(b)
                      checked: true
                  - key: sui-generis
                    items:
                    - key: i-Agricultural
                      checked: true
                  must: MATCH_ANY
                - id: adopted-constraints-id
                  values:
                  - key: very_low_risk_of_flooding_from_rivers_and_seas
                    checked: true
                  - key: low_risk_of_flooding_from_rivers_and_seas
                    checked: true
                  must: MATCH_NONE
                  type: nested-checkbox
                - id: ownership-type-id
                  values:
                  - key: private
                    checked: true
                  must: MATCH_NONE
      responses:
        '200':
          description: A list of parcel IDs matching the search criteria.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParcelIds'
              examples:
                validResponse:
                  summary: Parcels found
                  value:
                    parcel_ids:
                    - 533bdf35-c073-5433-b225-076b625d22f9
                    - 7da6fe12-6f0a-3d16-5bf0-3c80839256b5
                    - 7fc7684c-bf0f-8710-327e-78d26f9c313e
                emptyResponse:
                  summary: No parcels found
                  value:
                    parcel_ids: []
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
  /parcels/{parcel_id}:
    get:
      operationId: getParcel
      summary: Details about a parcel
      description: 'Given a parcel ID, get the parcel details including associated titles, properties and planning applications.

        '
      tags:
      - Parcels
      parameters:
      - in: path
        name: parcel_id
        required: true
        schema:
          $ref: '#/components/schemas/ParcelId'
        description: A parcel ID
        example: 2a5ad2c7-29ef-d609-8ade-36eef8e3a072
      responses:
        '200':
          description: Parcel Details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParcelDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
  /parcels:
    post:
      operationId: getParcelsBulk
      summary: Bulk parcel details
      description: 'Fetch parcel details for up to 50 parcel IDs in a single request.

        '
      tags:
      - Parcels
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkParcelRequest'
      responses:
        '200':
          description: Bulk parcel details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkParcelResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkParcelBadRequest'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
components:
  schemas:
    UseClassSuiGenerisItem:
      type: object
      title: Use Class - Sui Generis - Item
      properties:
        key:
          type: string
          enum:
          - i-Agricultural
          - ii-Agricultural
          - iii-Amusements
          - iv-Bingo-Hall
          - v-Car
          - vi-Farm
          - vii-Garage
          - ix-Grazing
          - x-Holiday
          - xi-Licensed
          - xii-Lock
          - xiii-Permanent
          - xiv-Petrol
          - xv-car-parking
          - xvi-Public
          - xvii-Recreational
          x-enumDescriptions:
            i-Agricultural: Agricultural
            ii-Agricultural: Applicable to land in farm ownership and not run as a separate business enterprise
            iii-Amusements: Amusements
            iv-Bingo-Hall: Bingo Hall / Cinema / Conference / Exhibition Centre / Theatre / Concert Hall
            v-Car: Car / Coach / Commercial Vehicle / Taxi Parking / Park And Ride Site
            vi-Farm: Farm / Non-Residential Associated Building
            vii-Garage: Garage
            ix-Grazing: Grazing Land
            x-Holiday: Holiday / Campsite
            xi-Licensed: Licensed Private Members' Club
            xii-Lock: Lock-Up Garage / Garage Court
            xiii-Permanent: Permanent Crop / Crop Rotation
            xiv-Petrol: Petrol Filling Station
            xv-car-parking: Public Car Parking
            xvi-Public: Public House / Bar / Nightclub
            xvii-Recreational: Recreational / Social Club
          example: i-Agricultural
        checked:
          type: boolean
          enum:
          - true
          example: true
      required:
      - key
      - checked
    UseClassF2:
      type: object
      title: Use Class - F2
      properties:
        key:
          type: string
          x-enumDescriptions:
            F.2: Local community uses
          example: F.2
        items:
          type: array
          items:
            $ref: '#/components/schemas/UseClassF2Item'
    Tenure:
      type: object
      properties:
        id:
          type: string
          description: The constant ID for this schema.
          enum:
          - tenure-uk
          example: tenure-uk
        values:
          type: array
          description: A list of tenure values with associated keys and checked status.
          items:
            type: object
            required:
            - key
            - checked
            properties:
              key:
                type: string
                description: The key representing the tenure type.
                enum:
                - freehold
                - leasehold
                x-enumDescriptions:
                  freehold: Freehold
                  leasehold: Leasehold
                example: freehold
              checked:
                type: boolean
                description: Indicates whether this constraint type is selected or not.
                enum:
                - true
                example: true
        must:
          type: string
          enum:
          - MATCH_ANY
          - MATCH_NONE
          description: The match type for filtering the tenure options.
          example: MATCH_ANY
      required:
      - values
      - must
      - id
    UPRN:
      type: string
      description: Unique Property Reference Number (UPRN) is a unique numeric identifier for every addressable location in Great Britain, found in Ordnance Survey's AddressBase products.
      pattern: ^\d{1,12}$
    TitleNumber:
      description: The title number is a unique identifier for registered land in England and Wales, governed by HM Land Registry.
      type: string
      example: WT77573
    LeaseEndDate:
      type: object
      title: Lease End Date
      properties:
        id:
          type: string
          description: The constant ID for this schema.
          enum:
          - lease-end-date
          example: lease-end-date
        range:
          type: array
          description: "`[\"2025-02-01T00:00:00.000Z\", \"2025-09-30T23:59:59.999Z\"]` \nrepresents a range from **Feb 1st 2025 to Sep 30th 2025 at 23:59**.\nAn array with 2 items that represent the range of dates for the lease end date.\n\nThe first item is the start date, and the second item is the end date.\n"
          items:
            type: string
            format: date-time
          minItems: 2
          maxItems: 2
          example:
          - '2025-02-01T00:00:00.000Z'
          - '2025-09-30T22:59:59.999Z'
      required:
      - id
      - range
    OwnershipType:
      type: object
      title: Ownership Type
      properties:
        id:
          type: string
          description: The constant ID for this schema.
          enum:
          - ownership-type-id
          example: ownership-type-id
        values:
          type: array
          description: A list of ownership types with associated keys, checked status.
          items:
            type: object
            required:
            - key
            - checked
            properties:
              key:
                type: string
                description: The key representing the ownership type.
                enum:
                - corporate_body
                - company
                - council
                - housing_association
                - private
                x-enumDescriptions:
                  corporate_body: Corporate Body
                  company: Company
                  council: Council
                  housing_association: Housing Association
                  private: Private
                example: company
              checked:
                type: boolean
                description: Indicates that this value is selected.
                enum:
                - true
                example: true
        must:
          type: string
          enum:
          - MATCH_ANY
          - MATCH_NONE
          description: Can match any or match all of the items passed.
          example: MATCH_ANY
          default: MATCH_ANY
      required:
      - values
      - must
      - id
    ParcelIds:
      type: object
      required:
      - parcel_ids
      properties:
        parcel_ids:
          type: array
          description: A list of parcel UUIDs.
          maxItems: 100000
          items:
            $ref: '#/components/schemas/ParcelId'
    PropertyState:
      type: object
      title: Property State
      properties:
        id:
          type: string
          description: The constant ID for this schema.
          enum:
          - property-state-id
          example: property-state-id
        values:
          type: array
          description: A list of property state values with associated keys and checked status.
          items:
            type: object
            required:
            - key
            - checked
            properties:
              key:
                type: string
                description: The key representing the property state type.
                enum:
                - demolished
                - in_use
                - planning_permission_granted
                - property_state
                - under_construction
                - unoccupied_vacant_derelict
                x-enumDescriptions:
                  demolished: Demolished
                  in_use: In Use
                  planning_permission_granted: Planning Permission Granted
                  property_state: Unclassified
                  under_construction: Under Construction
                  unoccupied_vacant_derelict: Unoccupied/Vacant/Derelict
                example: demolished
              checked:
                type: boolean
                description: Indicates whether this property state type is selected or not.
                enum:
                - true
                example: true
        must:
          type: string
          enum:
          - MATCH_ANY
          - MATCH_NONE
          description: The match type for filtering the property state options.
          example: MATCH_ANY
      required:
      - values
      - must
      - id
    ParcelTenure:
      type: array
      items:
        type: string
        enum:
        - freehold
        - leasehold
        example: freehold
        default: freehold
    PlanningApplicationsSubmissionDateFilter:
      type: object
      title: Planning Applications Submission Date Filter
      properties:
        id:
          type: string
          enum:
          - planning-applications-submission-date
          example: planning-applications-submission-date
          description: The unique identifier for submission date range to filter.
        range:
          type: array
          items:
            type: string
            format: date-time
          minItems: 2
          maxItems: 2
          description: The range of submission dates for filtering the planning applications.
          example:
          - '2023-01-01T00:00:00Z'
          - '2023-12-31T23:59:59Z'
      required:
      - id
      - range
    PlanningApplicationsNumberOfUnitsFilter:
      type: object
      title: Planning Applications Number of Units Filter
      properties:
        id:
          type: string
          enum:
          - planning-applications-number-of-units
          description: The unique identifier for the number of units filter.
          example: planning-applications-number-of-units
        range:
          type: array
          description: The range of number of units for filtering the planning applications.
          items:
            type: number
          minItems: 2
          maxItems: 2
          example:
          - 1
          - 5
        rangeType:
          type: string
          enum:
          - basic
          - area
          - percentage
          description: Specifies the units represented by the numerical range values.
          default: basic
          example: basic
      required:
      - id
      - range
      - rangeType
    BulkParcelRequest:
      type: object
      required:
      - parcel_ids
      properties:
        parcel_ids:
          type: array
          description: List of parcel IDs (max 50)
          maxItems: 50
          items:
            $ref: '#/components/schemas/ParcelId'
    UseClass:
      type: object
      title: Use Class
      properties:
        id:
          type: string
          enum:
          - use-class-nested-id
          example: use-class-nested-id
          description: The unique identifier for the use class filter.
        values:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/UseClassB2'
            - $ref: '#/components/schemas/UseClassB8'
            - $ref: '#/components/schemas/UseClassC1'
            - $ref: '#/components/schemas/UseClassC2'
            - $ref: '#/components/schemas/UseClassC2A'
            - $ref: '#/components/schemas/UseClassC3'
            - $ref: '#/components/schemas/UseClassC4'
            - $ref: '#/components/schemas/UseClassE'
            - $ref: '#/components/schemas/UseClassF1'
            - $ref: '#/components/schemas/UseClassF2'
            - $ref: '#/components/schemas/UseClassSuiGeneris'
        must:
          type: string
          enum:
          - MATCH_ANY
          - MATCH_NONE
          description: The match type for filtering the use class options.
          example: MATCH_ANY
          default: MATCH_ANY
        type:
          type: string
          enum:
          - nested-checkbox
          example: nested-checkbox
          default: nested-checkbox
      required:
      - id
      - values
      - must
      - type
    UseClassC2A:
      type: object
      title: Use Class - C2A
      properties:
        key:
          type: string
          enum:
          - C2A
          x-enumDescriptions:
            C2A: Secure Residential Institution
          example: C2A
        checked:
          type: boolean
          enum:
          - true
          example: true
      required:
      - key
      - checked
    AmenitiesDistanceFilter:
      type: object
      title: Amenities Distance Filter
      properties:
        id:
          type: string
          enum:
          - amenities-distance-filter
          example: amenities-distance-filter
          description: The unique identifier for the amenities distance filter.
        value:
          type: number
          format: float
          description: The maximum distance for filtering amenities, in meters.
          example: 600
      required:
      - id
      - value
    Polygon:
      externalDocs:
        url: https://datatracker.ietf.org/doc/html/rfc7946
      type: object
      required:
      - type
      - coordinates
      properties:
        type:
          type: string
          enum:
          - Polygon
          example: Polygon
          description: the geometry type
        coordinates:
          $ref: '#/components/schemas/PolygonCoordinates'
    PowerDistance:
      type: object
      title: Power Distance Filter
      properties:
        id:
          type: string
          enum:
          - power-distance-type-id
          example: power-distance-type-id
          description: The unique identifier for the distance from power filter.
        type:
          type: string
          enum:
          - compound
          example: compound
          description: The type of filter, which is always compound in this case.
        filters:
          type: array
          items:
            minItems: 2
            maxItems: 2
            anyOf:
            - $ref: '#/components/schemas/PowerDistanceTypeFilter'
            - $ref: '#/components/schemas/PowerDistanceFilter'
          description: "A list of filters to be applied. \nMust include at least one: PowerDistanceTypeFilter and only one PowerDistanceFilter.\n"
          example:
          - id: power-distance-type-filter
            values:
            - key: shortest_distance_grid_power_substations
              name: sidebar.react.search_sidebar.power_distance.grid_power_substations
              checked: false
            - key: shortest_distance_bulk_power_substations
              name: sidebar.react.search_sidebar.power_distance.bulk_power_substations
              checked: false
            - key: shortest_distance_primary_power_substations
              name: sidebar.react.search_sidebar.power_distance.primary_power_substations
              checked: false
            - key: shortest_distance_hv_power_substations
              name: sidebar.react.search_sidebar.power_distance.hv_power_substations
              checked: false
            - key: shortest_distance_power_cables
              name: sidebar.react.search_sidebar.power_distance.power_cables
              checked: false
            - key: shortest_distance_power_overhead_lines
              name: sidebar.react.search_sidebar.power_distance.power_overhead_lines
              checked: false
            - key: shortest_distance_power_towers
              name: sidebar.react.search_sidebar.power_distance.power_towers
              checked: true
            must: MATCH_ALL
            type: nested-checkbox
          - id: power-distance-filter
            value: 5000
        must:
          type: string
          enum:
          - MATCH_ALL
          - MATCH_NONE
          description: The match type for combining the filters.
          example: MATCH_ALL
          default: MATCH_ALL
      required:
      - id
      - filters
      - must
      - type
    LandAvailabilityAssessment:
      type: object
      title: Land Availability Assessment
      properties:
        id:
          type: string
          description: The constant ID for this schema.
          enum:
          - land-availability-assessment-id
          example: land-availability-assessment-id
        values:
          type: array
          description: A list of land availability assessment types with associated keys and checked status.
          items:
            type: object
            required:
            - key
            - checked
            properties:
              key:
                type: string
                description: The key representing the land availability assessment type.
                enum:
                - negative
                - neutral
                - positive
                x-enumDescriptions:
                  negative: Negative
                  neutral: Neutral
                  positive: Positive
                example: negative
              checked:
                type: boolean
                description: Indicates whether this land availability assessment type is selected or not.
                enum:
                - true
                example: true
        must:
          type: string
          enum:
          - MATCH_ANY
          - MATCH_NONE
          description: The match type for filtering the land availability assessment options.
          example: MATCH_ANY
      required:
      - values
      - must
      - id
    SiteAllocationsAdopted:
      type: object
      title: Site Allocations - Adopted
      properties:
        id:
          type: string
          description: The constant ID for this schema.
          enum:
          - site-allocations-id
          example: site-allocations-id
        values:
          type: array
          description: A list of site allocation types with associated keys and checked status.
          items:
            type: object
            required:
            - key
            - checked
            properties:
              key:
                type: string
                description: The key representing the site allocation type.
                enum:
                - commercial_allocation
                - community_allocation
                - employment_allocation
                - mixed_use_allocation
                - residential_allocation
                - uncategorised_allocation
                x-enumDescriptions:
                  commercial_allocation: Commercial Allocation
                  community_allocation: Community Allocation
                  employment_allocation: Employment Allocation
                  mixed_use_allocation: Mixed Use Allocation
                  residential_allocation: Residential Allocation
                  uncategorised_allocation: Uncategorised
                example: commercial_allocation
              checked:
                type: boolean
                description: Indicates whether this site allocation type is selected or not.
                enum:
                - true
                example: true
        must:
          type: string
          enum:
          - MATCH_ANY
          - MATCH_NONE
          description: The match type for filtering the site allocation options.
          example: MATCH_ANY
      required:
      - values
      - must
      - id
    UseClassSuiGeneris:
      type: object
      title: Use Class - Sui Generis
      properties:
        key:
          type: string
          enum:
          - sui-generis
          x-enumDescriptions:
            sui-generis: Sui Generis
          example: sui-generis
        items:
          type: array
          items:
            $ref: '#/components/schemas/UseClassSuiGenerisItem'
    SiteAllocationsEmerging:
      type: object
      title: Site Allocations - Emerging
      properties:
        id:
          type: string
          description: The constant ID for this schema.
          enum:
          - site-allocations-emerging-id
          example: site-allocations-emerging-id
        values:
          type: array
          description: A list of site allocation types with associated keys and checked status.
          items:
            type: object
            required:
            - key
            - checked
            properties:
              key:
                type: string
                description: The key representing the site allocation type.
                enum:
                - commercial_allocation
                - community_allocation
                - employment_allocation
                - mixed_use_allocation
                - residential_allocation
                - uncategorised_allocation
                x-enumDescriptions:
                  commercial_allocation: Commercial Allocation
                  community_allocation: Community Allocation
                  employment_allocation: Employment Allocation
                  mixed_use_allocation: Mixed Use Allocation
                  residential_allocation: Residential Allocation
                  uncategorised_allocation: Uncategorised
                example: commercial_allocation
              checked:
                type: boolean
                description: Indicates whether this site allocation type is selected or not.
                enum:
                - true
                example: true
        must:
          type: string
          enum:
          - MATCH_ANY
          - MATCH_NONE
          description: The match type for filtering the site allocation options.
          example: MATCH_ANY
      required:
      - values
      - must
      - id
    CompanyStatus:
      type: object
      title: Company Status
      properties:
        id:
          type: string
          description: The constant ID for this schema.
          enum:
          - company-status-id
          example: company-status-id
        values:
          type: array
          description: A list of company status types with associated keys and checked status.
          items:
            type: object
            required:
            - key
            - checked
            properties:
              key:
                type: string
                description: The key representing the company status type.
                enum:
                - active
                - active_proposal_to_strike_off
                - administration_order
                - administrative_receiver
                - in_administration
                - in_administration_administrative_receiver
                - in_administration_receiver_manager
                - liquidation
                - live_but_receiver_manager_on_at_least_one_charge
                - receiver_manager_administrative_receiver
                - receivership
                - voluntary_arrangement
                - voluntary_arrangement_administrative_receiver
                - voluntary_arrangement_receiver_manager
                x-enumDescriptions:
                  active: Active
                  active_proposal_to_strike_off: Active - Proposal To Strike Off
                  administration_order: Administration Order
                  administrative_receiver: Administrative Receiver
                  in_administration: In Administration
                  in_administration_administrative_receiver: In Administration/Administrative Receiver
                  in_administration_receiver_manager: In Administration/Receiver Manager
                  liquidation: Liquidation
                  live_but_receiver_manager_on_at_least_one_charge: Live But Receiver Manager On At Least One Charge
                  receiver_manager_administrative_receiver: Receiver Manager / Administrative Receiver
                  receivership: Receivership
                  voluntary_arrangement: Voluntary Arrangement
                  voluntary_arrangement_administrative_receiver: Voluntary Arrangement / Administrative Receiver
                  voluntary_arrangement_receiver_manager: Voluntary Arrangement / Receiver Manager
                example: active
              checked:
                type: boolean
                description: Indicates whether this company status type is selected or not.
                enum:
                - true
                example: true
        must:
          type: string
          enum:
          - MATCH_ANY
          - MATCH_NONE
          description: The match type for filtering the company status options.
          example: MATCH_ANY
      required:
      - values
      - must
      - id
    ParcelSize:
      type: object
      properties:
        min:
          type: number
          format: float
          description: The minimum parcel size in square metres.
          example: 2023.43
        max:
          type: number
          format: float
          description: The maximum parcel size in square metres.
          example: 4046.86
    MultiPolygon:
      description: GeoJSON MultiPolygon
      externalDocs:
        url: https://datatracker.ietf.org/doc/html/rfc7946
      type: object
      required:
      - type
      - coordinates
      properties:
        type:
          type: string
          enum:
          - MultiPolygon
          example: MultiPolygon
          description: the geometry type
        coordinates:
          type: array
          items:
            $ref: '#/components/schemas/PolygonCoordinates'
    UseClassC2:
      type: object
      title: Use Class - C2
      properties:
        key:
          type: string
          enum:
          - C2
          x-enumDescriptions:
            C2: Residential institutions
          example: C2
        checked:
          type: boolean
          enum:
          - true
          example: true
      required:
      - key
      - checked
    Healthcare:
      type: object
      title: Health Care
      properties:
        key:
          type: string
          enum:
          - healthcare
          description: The key representing the healthcare category.
          example: healthcare
        checked:
          type: boolean
          enum:
          - true
          description: Indicates whether the healthcare category is selected.
          example: true
        items:
          type: array
          minItems: 1
          items:
            type: object
            title: Healthcare - Sub Categories
            properties:
              key:
                type: string
                description: The key representing the specific healthcare amenity.
                enum:
                - shortest_distance_gp_surgeries
                - shortest_distance_pharmacies
                - shortest_distance_clinics
                - shortest_distance_dentists
                - shortest_distance_hospitals
                x-enumDescriptions:
                  shortest_distance_gp_surgeries: Shortest distance to GP surgeries
                  shortest_distance_pharmacies: Shortest distance to pharmacies
                  shortest_distance_clinics: Shortest distance to clinics
                  shortest_distance_dentists: Shortest distance to dentists
                  shortest_distance_hospitals: Shortest distance to hospitals
                example: shortest_distance_gp_surgeries
              checked:
                description: Indicates whether this specific healthcare amenity is selected.
                type: boolean
                example: true
                enum:
                - true
            required:
            - key
            - checked
          example:
          - key: shortest_distance_gp_surgeries
            checked: true
          - key: shortest_distance_pharmacies
            checked: true
      required:
      - key
      - checked
      - items
    Retail:
      type: object
      title: Retail
      properties:
        key:
          type: string
          enum:
          - retail
          description: The key representing the retail category.
          example: retail
        checked:
          description: Indicates whether the retail category is selected.
          type: boolean
          example: true
          enum:
          - true
        items:
          type: array
          description: A list of specific retail amenities.
          items:
            type: object
            properties:
              key:
                type: string
                enum:
                - shortest_distance_supermarkets_and_convenience_stores
                x-enumDescriptions:
                  shortest_distance_supermarkets_and_convenience_stores: Shortest distance to supermarkets and convenience stores
                description: The key representing the specific retail amenity.
                example: shortest_distance_supermarkets_and_convenience_stores
              checked:
                description: Indicates whether this specific retail amenity is selected.
                example: true
                type: boolean
                enum:
                - true
          example:
          - key: shortest_distance_supermarkets_and_convenience_stores
            checked: true
      required:
      - key
      - checked
      - items
    UseClassF2Item:
      type: object
      title: Use Class - F.2
      properties:
        key:
          type: string
          enum:
          - F.2(b)
          - F.2(c)
          - F.2(d)
          x-enumDescriptions:
            F.2(b): Halls or meeting places for the principal use of the local community
            F.2(c): Areas for outdoor sports and recreation
            F.2(d): Indoor or outdoor swimming pools or skating rinks
          example: F.2(b)
        checked:
          type: boolean
          enum:
          - true
          example: true
      required:
      - key
      - checked
    PointCoordinates:
      type: array
      maxItems: 2
      minItems: 2
      example:
      - -0.12755
      - 51.5073
      items:
        type: number
    DevelopedArea:
      type: object
      title: Developed Area
      properties:
        id:
          type: string
          description: The constant ID for this schema.
          enum:
          - developed-area-id
          example: developed-area-id
        range:
          type: array
          description: '`[1, 45]` represents a range from **1% to 45%**.


            An array with 2 items that represent the range of percentages for the developed area.

            The first item is the minimum value, and the second item is the maximum value.

            '
          items:
            type: number
            format: integer
          minItems: 2
          maxItems: 2
          example:
          - 1
          - 45
        rangeType:
          type: string
          description: The type of range being used (e.g., percentage).
          enum:
          - percentage
          example: percentage
      required:
      - id
      - range
      - rangeType
    AgriculturalLandClassification:
      type: object
      title: Agricultural Land Classification
      properties:
        id:
          type: string
          description: The constant ID for this schema.
          enum:
          - agricultural-land-classification-id
          example: agricultural-land-classification-id
        values:
          type: array
          description: A list of agricultural land classification values with associated keys, names, and checked status.
          items:
            type: object
            required:
            - key
            properties:
              key:
                type: string
                description: The key representing the agricultural land classification type.
                enum:
                - grade_1
                - grade_2
                - grade_3a
                - grade_3
                - grade_3b
                - grade_4
                - grade_5
                - non_agricultural
                x-enumDescriptions:
                  grade_1: Grade 1
                  grade_2: Grade 2
                  grade_3a: Grade 3a
                  grade_3: Grade 3
                  grade_3b: Grade 3b
                  grade_4: Grade 4
                  grade_5: Grade 5
                  non_agricultural: Non Agricultural
                example: grade_1
              checked:
                type: boolean
                description: Indicates whether this agricultural land classification type is selected or not.
                example: true
          example:
          - key: grade_1
            checked: true
          - key: grade_3a
            checked: true
        must:
          type: string
          enum:
          - MATCH_ANY
          - MATCH_NONE
          description: The match type for filtering the agricultural land classification options.
          example: MATCH_ANY
      required:
      - values
      - must
      - id
    Article4:
      type: object
      title: Article 4 (London)
      properties:
        id:
          type: string
          description: The constant ID for this schema.
          enum:
          - article-four-id
          example: article-four-id
        values:
          type: array
          description: A list of article 4 values with associated keys, checked status.
          items:
            type: object
            required:
            - key
            - checked
            properties:
              key:
                type: string
                description: The key representing the article 4 type.
                enum:
                - article_4_ma
                - article_4_hmo
                - article_4_other
                - article_4_unknown
                x-enumDescriptions:
                  article_4_ma: MA
                  article_4_hmo: HMO
                  article_4_other: Other
                  article_4_unknown: Unknown
                example: article_4_hmo
              checked:
                type: boolean
                description: Indicates whether this constraint type is selected or not.
                enum:
                - true
                example: true
        must:
          type: string
          enum:
          - MATCH_ANY
          - MATCH_NONE
          description: The match type for filtering the article 4 options.
          example: MATCH_NONE
      required:
      - id
      - values
      - must
    ParcelDetailsItem:
      type: object
      description: Parcel details. Will be `null` if the parcel is not found.
      properties:
        parcel_id:
          $ref: '#/components/schemas/ParcelId'
        parcel_size:
          type: number
          format: float
          description: The size of the parcel in square metres.
          example: 18336.97
        developed_area_ratio:
          type: number
          format: float
          description: The ratio of developed area to total parcel area. Can range from 0 if the parcel is undeveloped, up to 1.0 when developed 100%.
          minimum: 0
          maximum: 1
          example: 0.2865
        titles:
          type: array
          description: A list of HM Land Registry title numbers associated with the parcel. Can be null.
          nullable: true
          items:
            $ref: '#/components/schemas/TitleNumber'
          example:
          - K375897
          - TT17693
        properties:
          type: array
          description: 'A list of Unique Property Reference Numbers (UPRNs) formally  associated with a parcel title. Can be empty.

            '
          items:
            $ref: '#/components/schemas/UPRN'
          example:
          - '50121170'
          - '50100934'
          - '10015394608'
        properties_intersects:
          type: array
          description: 'A list of Unique Property Reference Numbers (UPRNs) that reside within  the title''s land parcel, but are not formally associated with the title. Can be empty.

            '
          items:
            $ref: '#/components/schemas/UPRN'
          example:
          - '10091868676'
          - '10023302495'
        planning_apps:
          type: array
          description: A list of planning applications associated with the parcel. Can be empty.
          items:
            $ref: '#/components/schemas/PlanningApplicationId'
          example:
          - E07000112+Y18/1381/FH
          - E07000112+Y10/0641/SH
        local_plan_policy:
          type: object
          description: Local policies on the parcel. Includes Local Planning Authority.
          additionalProperties:
            $ref: '#/components/schemas/CoveredEntities'
          example:
            local_planning_authority:
            - id: 35d7e882-1583-4c02-9930-a665fae9ac6e
              coverage": 1
            settlement_boundaries:
            - id: 9b58f3b3f4e0dd2dc74250da414786d5
              coverage: 0.54
            local_industrial_location:
            - id: cf056e75-5487-454f-8270-d4c60aa1fee4
              coverage: 0.43
        development_constraints:
          type: object
          description: "Development constraints affecting the parcel including:\n  - Airport Safeguarding\n  - HS2 Safeguarding\n  - Rail Safeguarding\n  - Building (Wharf) Safeguarding\n  - Article 4 Directions\n  - National Landscape Data\n  - Flood Risk Zones\n  - Flood Zones\n  - Heritage Land / Listed Buildings\n  - Conservation Areas\n  - Protected Areas\n  - Green Belt\n  - Agricultural Land Classification\n  - Neighbourhood Plan Areas\n  - Rights of Way\n"
          additionalProperties:
            $ref: '#/components/schemas/CoveredEntities'
          example:
            rail_safeguarded_land:
            - id: 1251c801-ea1c-4e74-9234-2933a38644b3
              coverage: 1
        development_opportunities:
          type: object
          description: "Development Opportunites including: \n  - Named Regeneration Areas\n  - Area Action Plans\n  - Declassified Green Belt\n  - Brownfield Register\n"
          additionalProperties:
            $ref: '#/components/schemas/CoveredEntities'
          example:
            area_action_plans:
            - id: 836cc2d8-4596-4bb6-9630-a6429c93305f
              coverage: 1
        shlaa:
          type: object
          description: Strategic Housing Land Availability Assessments applying on the parcel.
          additionalProperties:
            $ref: '#/components/schemas/CoveredEntities'
          example:
            shlaa_positive:
            - id: 6b3cda6f-5c0e-4415-8f4e-4b7a4b4e1574
              coverage: 1
        strategic_industrial_location:
          type: object
          description: Strategic Industrial Locations (SIL) applying on the parcel.
          additionalProperties:
            $ref: '#/components/schemas/CoveredEntities'
          example:
            strategic_industrial_location:
            - id: f6ffcea7-2fa7-48d3-b598-278090565311
              coverage: 1
        additional_opportunities:
          type: object
          description: Designated sites from Homes England Land Hub
          additionalProperties:
            $ref: '#/components/schemas/CoveredEntities'
          example:
            land_hub_on_market:
            - id: dd169de034a2de3d490e5d4c9a454460
              coverage: 1
        power:
          type: object
          description: Power infrastructure (e.g., substations, towers, cables, lines) located within or near the parcel.
          additionalProperties:
            type: array
            items:
              type: object
              required:
              - distance
              properties:
                id:
                  type: string
                  example: 7e47387c-8852-4265-834c-b98f5e3a222d
                distance:
                  description: Distance of the power infrastructure unit from the parcel (in meters). A distance of zero indicates that the unit is located within the parcel itself.
                  type: number
                  example: 0
          example:
            hv_power_substations:
            - id: 7e47387c-8852-4265-834c-b98f5e3a222d
              distance: 0
            power_cables:
            - distance: 12.5
        renewable_energy_planning_db:
          type: object
          description: Renewable power generation projects on the parcel, sourced from Renewable Energy Planning Database.
          additionalProperties:
            $ref: '#/components/schemas/CoveredEntities'
          example:
            repd_solar:
            - id: fe76f6b7-f7ee-4a79-a161-66821246a68b
              coverage: 1
        geometry:
          type: object
          description: GeoJSON of the boundary of the parcel.
          oneOf:
          - $ref: '#/components/schemas/Polygon'
          - $ref: '#/components/schemas/MultiPolygon'
          example:
            type: MultiPolygon
            coordinates:
            - - - - 1.07466
                  - 51.07292
                - - 1.07427
                  - 55.07204
                - - 1.07773
                  - 55.0723
                - - 1.07466
                  - 55.07292
    BulkParcelResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            parcel:
              type: array
              items:
                $ref: '#/components/schemas/ParcelDetailsItem'
    UseClassC1:
      type: object
      title: Use Class - C1
      properties:
        key:
          type: string
          enum:
          - C1
          x-enumDescriptions:
            C1: Hotels
          example: C1
        checked:
          type: boolean
          enum:
          - true
          example: true
      required:
      - key
      - checked
    UseClassF1:
      type: object
      title: Use Class - F1
      properties:
        key:
          type: string
          x-enumDescriptions:
            F.1: Learning and non-residential institutions
          example: F.1
        items:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/UseClassF1Item'
      required:
      - key
      - items
    PlanningApplicationId:
      type: string
      description: A unique planning application ID combining a planning authority GSS code and the application reference, separated by a `+` symbol.
      example: E07000112+Y18/1381/FH
      pattern: ^[EWS]\d{8}(?:\+|%2B)[\w\-\/%]+$
    Education:
      type: object
      title: Education
      properties:
        key:
          type: string
          enum:
          - education
          description: The key representing the education category.
          example: education
        checked:
          type: boolean
          description: Indicates whether the education category is selected.
          example: true
          enum:
          - true
        items:
          type: array
          description: A list of specific education amenities.
          items:
            type: object
            properties:
              key:
                type: string
                enum:
                - shortest_distance_primary_school
                - shortest_distance_secondary_school
                - shortest_distance_further_education
                - shortest_distance_primary_school_independent
                - shortest_distance_secondary_school_independent
                - shortest_distance_further_education_independent
                x-enumDescriptions:
                  shortest_distance_primary_school: Shortest distance to primary school
                  shortest_distance_secondary_school: Shortest distance to secondary school
                  shortest_distance_further_education: Shortest distance to further education
                  shortest_distance_primary_school_independent: Shortest distance to independent primary school
                  shortest_distance_secondary_school_independent: Shortest distance to independent secondary school
                  shortest_distance_further_education_independent: Shortest distance to independent further education
                description: The key representing the specific education amenity.
                example: shortest_distance_primary_school
              checked:
                description: Indicates whether this specific education amenity is selected.
                example: true
                type: boolean
                enum:
                - true
          example:
          - key: shortest_distance_primary_school
            checked: true
          - key: shortest_distance_secondary_school
            checked: true
      required:
      - key
      - checked
      - items
    RegenerationZonesAdopted:
      type: object
      title: Regeneration Zones - Adopted
      properties:
        id:
          type: string
          description: The constant ID for this schema.
          enum:
          - regeneration-zones-adopted-id
          example: regeneration-zones-adopted-id
        values:
          type: array
          description: A list of regeneration zone values with associated keys and checked status.
          items:
            type: object
            required:
            - key
            properties:
              key:
                type: string
                description: The key representing the regeneration zone type.
                enum:
                - area_action_plans
                - named_regeneration_areas
                x-enumDescriptions:
                  area_action_plans: Area Action Plans
                  named_regeneration_areas: Named Regeneration Areas
                example: area_action_plans
              checked:
                type: boolean
                description: Indicates whether this regeneration zone type is selected or not.
                example: true
        must:
          type: string
          enum:
          - MATCH_ANY
          - MATCH_NONE
          description: The match type for filtering the regeneration zone options.
          example: MATCH_ANY
      required:
      - values
      - must
      - id
    Forbidden:
      oneOf:
      - type: object
        required:
        - user
        properties:
          user:
            type: object
            required:
            - state
            properties:
              state:
                type: string
                enum:
                - expired
                - blocked
                example: expired
      - type: object
        required:
        - message
        properties:
          message:
            type: string
            example: User not found
    BulkParcelBadRequest:
      type: object
      required:
      - error_msg
      properties:
        error_msg:
          type: string
          example: "Body must be valid JSON object in the form of:\n  { \"parcel_ids\": [\"valid_uuid_0\", \"valid_uuid_1\", \"valid_uuid_N\"] }\n"
          description: Error message detailing the required request format.
    PowerDistanceTypeFilter:
      type: object
      title: Power Distance Type Filter
      properties:
        id:
          type: string
          enum:
          - power-distance-type-filter
          example: power-distance-type-filter
          description: The unique identifier for the power distance type filter.
        values:
          type: array
          items:
            type: object
            properties:
              key:
                enum:
                - shortest_distance_grid_power_substations
                - shortest_distance_bulk_power_substations
                - shortest_distance_primary_power_substations
                - shortest_distance_hv_power_substations
                - shortest_distance_power_cables
                - shortest_distance_power_overhead_lines
                - shortest_distance_power_towers
                x-enumDescriptions:
                  shortest_distance_grid_power_substations: Distance to the nearest grid power substation
                  shortest_distance_bulk_power_substations: Distance to the nearest bulk power substation
                  shortest_distance_primary_power_substations: Distance to the nearest primary power substation
                  shortest_distance_hv_power_substations: Distance to the nearest high-voltage power substation
                  shortest_distance_power_cables: Distance to the nearest power cable
                  shortest_distance_power_overhead_lines: Distance to the nearest overhead power line
                  shortest_distance_power_towers: Distance to the nearest power tower
                description: The key representing the type of power distance.
              checked:
                type: boolean
                description: Indicates whether this specific power type is selected.
            required:
            - key
            - checked
          description: 'List of power distance types with their selection status.

            '
          example:
          - key: shortest_distance_grid_power_substations
            checked: false
          - key: shortest_distance_bulk_power_substations
            checked: false
          - key: shortest_distance_primary_power_substations
            checked: false
          - key: shortest_distance_hv_power_substations
            checked: false
          - key: shortest_distance_power_cables
            checked: false
          - key: shortest_distance_power_overhead_lines
            checked: false
          - key: shortest_distance_power_towers
            checked: true
      required:
      - id
      - values
    SearchLocation:
      type: object
      title: Search Location
      properties:
        id:
          type: string
          example: search-location-id
          enum:
          - search-location-id
          description: The unique identifier for the search location filter.
        location:
          description: "## Polygon:\n\nA GeoJSON polygon.\n\nPolygon is defined by one or more linear rings.\nThe first ring represents the outer boundary (shell), and any additional rings represent holes (interior boundaries).\nEach ring is a closed line made up of an array of at least four coordinate pairs,\nwhere the first and last positions are identical to close the shape.\n\nCoordinates follow the format `[longitude, latitude]`.\nA Polygon must not intersect itself and must follow the right-hand rule for winding order.\n\n---\n\n### Useful links:\n- [GeoJSON Specification](https://datatracker.ietf.org/doc/html/rfc7946#section-3.1.6)\n- [GeoJSON.io - Online Tool](https://geojson.io/)\n\n---\n\n\n### Simple Polygon Example:\n\n```\n  {\n    \"coordinates\": [\n      [\n        [-0.14929038118364701, 51.536142527775894],\n        [-0.1511502946380574, 51.536606841918456],\n        [-0.15158046405704795, 51.53662282512096],\n        [-0.15314734138883068, 51.53638304796348],\n        [-0.15551325060320664, 51.5358605395725],\n        [-0.15853824326276822, 51.535146678003656],\n        [-0.16127849793295468, 51.53438900786796],\n        [-0.1629081211282255, 51.533737304067245],\n        [-0.16433232531409203, 51.532317284173246],\n        [-0.16515124173966456, 51.53147677320297],\n        [-0.16517750702064404, 51.530486405978394],\n        [-0.16470453397198526, 51.52968949678419],\n        [-0.16419787377387252, 51.52924454958466],\n        [-0.16160535022888212, 51.52759132355445],\n        [-0.15956874947798383, 51.52617575757168],\n        [-0.15845578053699683, 51.52486257411584],\n        [-0.15534964384988825, 51.52369876908375],\n        [-0.145932851559877, 51.525347514462425],\n        [-0.1459570444773135, 51.52897366493096],\n        [-0.1460084744027199, 51.53010860617948],\n        [-0.14805040702364636, 51.53477548344256],\n        [-0.1484858923158754, 51.53564562001867],\n        [-0.14929038118364701, 51.536142527775894]\n      ]\n    ],\n    \"type\": \"Polygon\"\n  }\n```\n\n---\n\n### Polygon including a hole:\n```\n  {\n    \"coordinates\": [\n      [\n        [-0.14929038118364701, 51.536142527775894],\n        [-0.1511502946380574, 51.536606841918456],\n        [-0.15158046405704795, 51.53662282512096],\n        [-0.15314734138883068, 51.53638304796348],\n        [-0.15551325060320664, 51.5358605395725],\n        [-0.15853824326276822, 51.535146678003656],\n        [-0.16127849793295468, 51.53438900786796],\n        [-0.1629081211282255, 51.533737304067245],\n        [-0.16433232531409203, 51.532317284173246],\n        [-0.16515124173966456, 51.53147677320297],\n        [-0.16517750702064404, 51.530486405978394],\n        [-0.16470453397198526, 51.52968949678419],\n        [-0.16419787377387252, 51.52924454958466],\n        [-0.16160535022888212, 51.52759132355445],\n        [-0.15956874947798383, 51.52617575757168],\n        [-0.15845578053699683, 51.52486257411584],\n        [-0.15534964384988825, 51.52369876908375],\n        [-0.145932851559877, 51.525347514462425],\n        [-0.1459570444773135, 51.52897366493096],\n        [-0.1460084744027199, 51.53010860617948],\n        [-0.14805040702364636, 51.53477548344256],\n        [-0.1484858923158754, 51.53564562001867],\n        [-0.14929038118364701, 51.536142527775894]\n      ],\n      [\n        [-0.1528028809015325, 51.52903093393792],\n        [-0.15190063187328917, 51.52866837902546],\n        [-0.15133992236366112, 51.52809880224876],\n        [-0.15122810383141427, 51.527513054250775],\n        [-0.15152242033633456, 51.52697809355044],\n        [-0.1520289119160907, 51.52648937141588],\n        [-0.15293715205308445, 51.52626119797495],\n        [-0.15374870651484684, 51.526168806088194],\n        [-0.15455587449918085, 51.526286175974064],\n        [-0.15575918093998098, 51.527008428928156],\n        [-0.1560404186055564, 51.52770737376511],\n        [-0.15562500260159595, 51.52840462735193],\n        [-0.15509228496867422, 51.528778327054],\n        [-0.15410266542014028, 51.52909488998242],\n        [-0.1533836641634707, 51.529096986799686],\n        [-0.1528028809015325, 51.52903093393792]\n      ]\n    ],\n    \"type\": \"Polygon\"\n  }\n```\n\n---\n\n## Point with Radius:\nA GeoJSON point with a radius in metres.\n\nCoordinates follow the format `[longitude, latitude]`.\n\n### Example of a Point with Radius:\n\n```\n  {\n    \"coordinates\": [-0.081547, 51.521412],\n    \"radius_metres\": 100,\n    \"type\": \"Point\"\n  }\n```\n"
          oneOf:
          - $ref: '#/components/schemas/Polygon'
          - $ref: '#/components/schemas/PointWithRadius'
        must:
          type: string
          description: The condition that must be met for the location filter.
          enum:
          - INTERSECT
          example: INTERSECT
      required:
      - id
      - location
      - must
    PolygonCoordinates:
      type: array
      items:
        $ref: '#/components/schemas/LinearRingCoordinates'
    ParcelSize-2:
      type: object
      title: Parcel Size
      properties:
        id:
          type: string
          example: lot-area-id
          enum:
          - lot-area-id
          description: The unique identifier for the lot area.
        range:
          type: array
          description: '`[0, 2000]` represents a range from **0 meters to 2000 meters (2km)**.


            An array with 2 items that represent the range of values for the parcel size.

            The first item is the minimum value, and the second item is the maximum value.

            '
          items:
            type: number
            format: float
          minItems: 2
          maxItems: 2
          example:
          - 0
          - 500
        type:
          type: string
          description: The type of range.
          enum:
          - number-range
          example: number-range
        rangeType:
          type: string
          description: The type of range being used (e.g., area).
          enum:
          - area
          example: area
      required:
      - id
      - range
      - type
      - rangeType
    UseClassB8:
      type: object
      title: Use Class - B8
      properties:
        key:
          type: string
          enum:
          - B8
          x-enumDescriptions:
            B8: Storage or distribution
          example: B8
        checked:
          type: boolean
          enum:
          - true
          example: true
      required:
      - key
      - checked
    RegionDetail:
      type: object
      required:
      - gss_code
      properties:
        gss_code:
          allOf:
          - $ref: '#/components/schemas/GSSCode'
          - description: The GSS code of a local authority, e.g. `E06000023`.
          - example: E06000023
        name:
          type: string
          description: The descriptive name of the region.
          example: Bristol, City of
    GSSCode:
      type: string
      description: Geocode as maintained by the United Kingdom's Office for National Statistics (ONS) to represent a wide range of geographical areas of the UK.
      pattern: ^[EWS]\d{8}$
      example: E09000033
    ConstraintsAdopted:
      type: object
      title: Constraints - Adopted Constraints
      properties:
        id:
          type: string
          description: The constant ID for this schema.
          enum:
          - adopted-constraints-id
          example: adopted-constraints-id
        values:
          type: array
          description: A list of constraint values with associated keys, checked status.
          items:
            type: object
            required:
            - key
            - checked
            properties:
              key:
                type: string
                description: The key representing the constraint type.
                enum:
                - protected_areas_outer
                - heritage_land_listed_buildings_outer
                - flood_zone_2_env_agency
                - flood_zone_3_env_agency
                - very_low_risk_of_flooding_from_rivers_and_seas
                - low_risk_of_flooding_from_rivers_and_seas
                - medium_risk_of_flooding_from_rivers_and_seas
                - high_risk_of_flooding_from_rivers_and_seas
                - conservation_areas_outer
                - employment_area_outer
                - settlement_boundaries_outer
                - green_belt_outer
                - nutrient_neutrality
                - protected_views_outer
                - safe_guarding_outer
                - metropolitan_open_land_outer
                - open_space_outer
                - rights_of_way
                - tree_preservation_orders
                - national_landscape
                x-enumDescriptions:
                  protected_areas_outer: Protected Areas
                  heritage_land_listed_buildings_outer: Heritage Land/Listed Buildings
                  flood_zone_2_env_agency: Flood Zone 2
                  flood_zone_3_env_agency: Flood Zone 3
                  very_low_risk_of_flooding_from_rivers_and_seas: Very Low Risk (Flood Risk)
                  low_risk_of_flooding_from_rivers_and_seas: Low Risk (Flood Risk)
                  medium_risk_of_flooding_from_rivers_and_seas: Medium Risk (Flood Risk)
                  high_risk_of_flooding_from_rivers_and_seas: High Risk (Flood Risk)
                  conservation_areas_outer: Conservation Areas
                  employment_area_outer: Employment Area
                  settlement_boundaries_outer: Settlement Boundaries
                  green_belt_outer: Green Belt
                  nutrient_neutrality: Nutrient Neutrality
                  protected_views_outer: Protected Views
                  safe_guarding_outer: Safe Guarded Sites
                  metropolitan_open_land_outer: Metropolitan Open Land (Open Land/Green Space)
                  open_space_outer: Open Space (Open Land/Green Space)
                  rights_of_way: Rights of Way
                  tree_preservation_orders: Tree Preservation Orders
                  national_landscape: National Landscape (AONB)
                example: protected_areas_outer
              checked:
                type: boolean
                description: Indicates whether this constraint type is selected or not.
                enum:
                - true
                example: true
        must:
          type: string
          enum:
          - MATCH_ALL
          - MATCH_NONE
          description: The match type for filtering the constraints options.
          example: MATCH_NONE
      required:
      - values
      - must
      - id
    UseClassF1Item:
      type: object
      title: Use Class - F1 Item
      properties:
        key:
          type: string
          enum:
          - F.1(a)
          - F.1(b)
          - F.1(c)
          - F.1(d)
          - F.1(f)
          - F.1(g)
          x-enumDescriptions:
            F.1(a): Provision of education e.g. schools
            F.1(b): Display of works of art
            F.1(c): Museums
            F.1(d): Public libraries or public reading rooms
            F.1(f): Public worship or religious instruction
            F.1(g): Law courts
          example: F.1(a)
        checked:
          type: boolean
          enum:
          - true
          example: true
      required:
      - key
      - checked
    RegionFilter:
      type: object
      title: Region
      properties:
        id:
          type: string
          enum:
          - region-id
          example: region-id
          description: The unique identifier for the region filter.
        region:
          allOf:
          - $ref: '#/components/schemas/GSSCode'
          - description: A region code (e.g. GSS code for UK Local Authority Districts).
          - example: E06000023
      required:
      - id
      - region
    UseClassB2:
      type: object
      title: Use Class - B2
      properties:
        key:
          type: string
          enum:
          - B2
          x-enumDescriptions:
            B2: General industrial
          example: B2
        checked:
          type: boolean
          enum:
          - true
          example: true
      required:
      - key
      - checked
    PointWithRadius:
      title: Point with Radius
      externalDocs:
        url: https://datatracker.ietf.org/doc/html/rfc7946
      type: object
      required:
      - type
      - coordinates
      - radius_metres
      properties:
        type:
          type: string
          enum:
          - Point
          example: Point
          description: the geometry type
        coordinates:
          $ref: '#/components/schemas/PointCoordinates'
        radius_metres:
          type: number
          example: 100
          description: 'The radius around the point in metres.

            '
    ParcelSearchRequestAdvanced:
      type: object
      required:
      - search_filter
      properties:
        search_filter:
          type: object
          required:
          - ALL
          properties:
            ALL:
              type: array
              description: Array of search criteria to match using AND logic
              minItems: 1
              items:
                anyOf:
                - $ref: '#/components/schemas/AdditionalOpportunities'
                  description: An optional filter for additional opportunities.
                - $ref: '#/components/schemas/AgriculturalLandClassification'
                  description: An optional filter for agricultural land classification.
                - $ref: '#/components/schemas/AmenitiesFilter'
                  description: An optional filter for amenities.
                - $ref: '#/components/schemas/Article4'
                  description: An optional filter for Article 4 constraints within London.
                - $ref: '#/components/schemas/CompanyStatus'
                  description: An optional filter for company status.
                - $ref: '#/components/schemas/ConstraintsAdopted'
                  description: An optional filter for adopted constraints.
                - $ref: '#/components/schemas/ConstraintsEmerging'
                  description: An optional filter for emerging constraints.
                - $ref: '#/components/schemas/DevelopedArea'
                  description: An optional filter for developed area percentage.
                - $ref: '#/components/schemas/GreyBeltFavourability'
                  description: An optional filter for green belt status.
                - $ref: '#/components/schemas/LandAvailabilityAssessment'
                  description: An optional filter for land availability assessment.
                - $ref: '#/components/schemas/LeaseEndDate'
                  description: An optional filter for lease end date.
                - $ref: '#/components/schemas/LeaseStartDate'
                  description: An optional filter for lease start date.
                - $ref: '#/components/schemas/OwnershipType'
                  description: An optional filter for ownership type.
                - $ref: '#/components/schemas/ParcelSize-2'
                  description: An optional filter for parcel size in square metres.
                - $ref: '#/components/schemas/PlanningApplications'
                  description: An optional filter for planning applications.
                - $ref: '#/components/schemas/PowerDistance'
                  description: An optional filter for distance to nearby power sources.
                - $ref: '#/components/schemas/ProprietorName'
                  description: An optional filter for proprietor name.
                - $ref: '#/components/schemas/PropertyState'
                  description: An optional filter for property state.
                - $ref: '#/components/schemas/RegionFilter'
                  description: An optional filter for region.
                - $ref: '#/components/schemas/RegenerationZonesAdopted'
                  description: An optional filter for adopted regeneration zones.
                - $ref: '#/components/schemas/RegenerationZonesEmerging'
                  description: An optional filter for emerging regeneration zones.
                - $ref: '#/components/schemas/SearchLocation'
                  description: An optional filter for searching location.
                - $ref: '#/components/schemas/SiteAllocationsAdopted'
                  description: An optional filter for adopted site allocations.
                - $ref: '#/components/schemas/SiteAllocationsEmerging'
                  description: An optional filter for emerging site allocations.
                - $ref: '#/components/schemas/Tenure'
                  description: An optional filter for tenure type.
                - $ref: '#/components/schemas/UseClass'
                  description: An optional filter for use classes.
    Transport:
      type: object
      title: Transport
      properties:
        key:
          type: string
          enum:
          - transport
          description: The key representing the transport category.
          example: transport
        checked:
          type: boolean
          description: Indicates whether the transport category is selected.
          example: true
          enum:
          - true
        items:
          type: array
          description: A list of specific transport amenities.
          items:
            type: object
            properties:
              key:
                type: string
                enum:
                - shortest_distance_bus_stop
                - shortest_distance_train_station
                - shortest_distance_metro_station
                x-enumDescriptions:
                  shortest_distance_bus_stop: Shortest distance to bus stop
                  shortest_distance_train_station: Shortest distance to train station
                  shortest_distance_metro_station: Shortest distance to metro station
                description: The key representing the specific transport amenity.
                example: shortest_distance_bus_stop
              checked:
                description: Indicates whether this specific transport amenity is selected.
                example: true
                type: boolean
                enum:
                - true
          example:
          - key: shortest_distance_bus_stop
            checked: true
          - key: shortest_distance_train_station
            checked: true
      required:
      - key
      - checked
      - items
    AmenitiesTypeFilter:
      type: object
      title: Amenities Filter
      properties:
        id:
          type: string
          enum:
          - amenities-type-filter
          example: amenities-type-filter
          description: The unique identifier for the amenities filter.
        values:
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/Transport'
            - $ref: '#/components/schemas/Education'
            - $ref: '#/components/schemas/Retail'
            - $ref: '#/components/schemas/Healthcare'
          description: "A list of amenities to be filtered. \nEach item in the list represents a specific amenity type and its associated options.\n"
          minItems: 1
          example:
          - key: transport
            checked: true
            items:
            - key: shortest_distance_bus_stop
              checked: true
          - key: education
            checked: true
            items:
            - key: shortest_distance_primary_school
              checked: true
        must:
          type: string
          enum:
          - MATCH_ANY
          - MATCH_NONE
          description: The match type for filtering the use class options.
          example: MATCH_ANY
          default: MATCH_ANY
        type:
          type: string
          enum:
          - nested-checkbox
          description: The type of filter, which is always nested-checkbox in this case.
          example: nested-checkbox
          default: nested-checkbox
      required:
      - id
      - values
      - must
      - type
    PlanningApplications:
      type: object
      title: Planning Applications Filter
      properties:
        id:
          type: string
          enum:
          - planning-applications-id
          example: planning-applications-id
          description: The unique identifier for the planning applications filter.
        type:
          type: string
          enum:
          - compound
          example: compound
          description: The type of filter, which is always compound in this case.
        filters:
          type: array
          minItems: 3
          maxItems: 3
          description: "A list of filters to be applied. \nMust include: \n* only one of multi text filter.\n* only one of submission date filter.\n* only one of units filter.\n"
          items:
            type: object
            anyOf:
            - $ref: '#/components/schemas/PlanningApplicationsMultiTextFilter'
            - $ref: '#/components/schemas/PlanningApplicationsSubmissionDateFilter'
            - $ref: '#/components/schemas/PlanningApplicationsNumberOfUnitsFilter'
        must:
          type: string
          enum:
          - MATCH_ALL
          - MATCH_NONE
          description: The match type for combining the filters.
          example: MATCH_ALL
          default: MATCH_ALL
      required:
      - id
      - filters
      - must
      - type
    AdditionalOpportunities:
      type: object
      title: Additional Opportunities
      properties:
        id:
          type: string
          description: The constant ID for this schema.
          enum:
          - additional-opportunities-id
          example: additional-opportunities-id
        values:
          type: array
          description: A list of additional opportunities with associated keys and checked status.
          items:
            type: object
            required:
            - key
            - checked
            properties:
              key:
                type: string
                description: The key representing the additional opportunity type.
                enum:
                - declassified_green_belt
                x-enumDescriptions:
                  declassified_green_belt: Declassified Green Belt
                example: declassified_green_belt
              checked:
                type: boolean
                description: Indicates whether this additional opportunity type is selected or not.
                enum:
                - true
                example: true
          example:
          - key: declassified_green_belt
            checked: true
        must:
          type: string
          enum:
          - MATCH_ANY
          - MATCH_NONE
          description: The match type for filtering the additional opportunities options.
          example: MATCH_ANY
      required:
      - values
      - must
      - id
    ParcelSearchRequest:
      type: object
      required:
      - region
      properties:
        region:
          allOf:
          - $ref: '#/components/schemas/GSSCode'
          - description: A region code (e.g. GSS code for UK Local Authority Districts).
          - example: E06000023
        parcel_size:
          allOf:
          - $ref: '#/components/schemas/ParcelSize'
          - description: 'An optional filter for parcel size in square metres. The max or min can be omitted, so for example to find parcels larger than 1ha (10,000sqm) you can use {"min": 10000}.'
        tenure:
          allOf:
          - $ref: '#/components/schemas/ParcelTenure'
          description: An optional filter for parcel tenures (i.e. freehold or leasehold). If omitted, only parcels which include freeholdings will be returned. To search for leaseholds, or both, supply ["leasehold"] or ["freehold", "leasehold"].
    UseClassC3:
      type: object
      title: Use Class - C3
      properties:
        key:
          type: string
          enum:
          - C3
          x-enumDescriptions:
            C3: Dwellinghouses
          example: C3
        checked:
          type: boolean
          enum:
          - true
          example: true
      required:
      - key
      - checked
    CoveredEntities:
      type: array
      items:
        type: object
        required:
        - id
        properties:
          id:
            type: string
          coverage:
            type: number
            description: How much of the site has been overlapped by the entity. Decimal ranging from 0 to 1.0
            example: 0.618
    UseClassE:
      type: object
      title: Use Class - E
      properties:
        key:
          type: string
          enum:
          - E
          x-enumDescriptions:
            E: Commercial, Business and Service
          example: E
        checked:
          type: boolean
          enum:
          - true
          example: true
        items:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/UseClassEItem'
      required:
      - key
      - checked
      - items
    PlanningApplicationsMultiTextFilter:
      type: object
      title: Planning Applications Multi Text Filter
      properties:
        id:
          type: string
          enum:
          - planning-applications-multi-text-filter-id
          description: The unique identifier for the multi-text filter.
          example: planning-applications-multi-text-filter-id
        must:
          type: string
          description: The match type for filtering the search tags.
          enum:
          - MATCH_ALL
          example: MATCH_ALL
          default: MATCH_ALL
        searchTags:
          type: array
          minItems: 1
          items:
            type: string
          description: The list of search tags to filter the planning applications.
          example:
          - tag1
          - tag2
          - tag3
      required:
      - id
      - must
      - searchTags
    ConstraintsEmerging:
      type: object
      title: Constraints - Emerging Constraints
      properties:
        id:
          type: string
          description: The constant ID for this schema.
          enum:
          - emerging-constraints-id
          example: emerging-constraints-id
        values:
          type: array
          description: A list of constraint values with associated keys, checked status, and child constraints.
          items:
            type: object
            required:
            - key
            - checked
            properties:
              key:
                type: string
                description: The key representing the constraint type.
                enum:
                - conservation_areas_outer
                - employment_area_outer
                - metropolitan_open_land_outer
                - open_space_outer
                - protected_areas_outer
                - protected_views_outer
                - safe_guarding_outer
                - settlement_boundaries_outer
                x-enumDescriptions:
                  conservation_areas_outer: Conservation Areas
                  employment_area_outer: Employment Area
                  metropolitan_open_land_outer: Metropolitan Open Land (Open Land/Green Space)
                  open_space_outer: Open Space (Open Land/Green Space)
                  protected_areas_outer: Protected Areas
                  protected_views_outer: Protected Views
                  safe_guarding_outer: Safe Guarded Sites
                  settlement_boundaries_outer: Settlement Boundaries
                example: conservation_areas_outer
              checked:
                type: boolean
                description: Indicates whether this constraint type is selected or not.
                enum:
                - true
                example: true
        must:
          type: string
          enum:
          - MATCH_ALL
          - MATCH_NONE
          description: The match type for filtering the constraints options.
          example: MATCH_NONE
      required:
      - values
      - must
      - id
    ParcelId:
      type: string
      format: uuid
      description: A parcel ID in the form of a UUID.
      example: 2a5ad2c7-29ef-d609-8ade-36eef8e3a072
    LinearRingCoordinates:
      type: array
      minItems: 4
      items:
        $ref: '#/components/schemas/PointCoordinates'
    UseClassC4:
      type: object
      title: Use Class - C4
      properties:
        key:
          type: string
          enum:
          - C4
          x-enumDescriptions:
            C4: Houses in multiple occupation
          example: C4
        checked:
          type: boolean
          enum:
          - true
          example: true
      required:
      - key
      - checked
    UseClassEItem:
      type: object
      title: Use Class - E Item
      properties:
        key:
          type: string
          enum:
          - E(a)
          - E(b)
          - E(c)
          - E(c)(i)
          - E(d)
          - E(e)
          - E(f)
          - E(g)(i)
          x-enumDescriptions:
            E(a): Retail of goods other than hot food
            E(b): Sale of food and drink for consumption (mostly) on the premises
            E(c): Provision of financial services, professional services or other commercial/business services
            E(c)(i): Provision of financial services
            E(d): Indoor sport and recreation (excluding swimming pools or skating rinks)
            E(e): Provision of medical or health services
            E(f): Creche, day nursery or day centre
            E(g)(i): Offices to carry out operational functions
          example: E(a)
        checked:
          type: boolean
          enum:
          - true
          example: true
      required:
      - key
      - checked
    ParcelDetails:
      type: object
      properties:
        data:
          type: object
          nullable: true
          properties:
            parcel:
              $ref: '#/components/schemas/ParcelDetailsItem'
    AmenitiesFilter:
      type: object
      title: Amenities Filter
      properties:
        id:
          type: string
          enum:
          - amenities-filter
          example: amenities-filter
          description: The unique identifier for the amenities filter.
        type:
          type: string
          enum:
          - compound
          example: compound
          description: The type of filter, which is always compound in this case.
        filters:
          type: array
          items:
            minItems: 2
            maxItems: 2
            anyOf:
            - $ref: '#/components/schemas/AmenitiesTypeFilter'
            - $ref: '#/components/schemas/AmenitiesDistanceFilter'
          description: "A list of filters to be applied. \nMust include at least one: AmenitiesTypeFilter and only one AmenitiesDistanceFilter.\n"
          example:
          - id: amenities-type-filter
            values:
            - key: transport
              checked: true
              items:
              - key: shortest_distance_bus_stop
                checked: true
            must: MATCH_ANY
            type: nested-checkbox
          - id: amenities-distance-filter
            value: 200
        must:
          type: string
          enum:
          - MATCH_ALL
          - MATCH_NONE
          description: The match type for combining the filters.
          example: MATCH_ALL
          default: MATCH_ALL
      required:
      - id
      - filters
      - must
      - type
    GreyBeltFavourability:
      type: object
      title: Grey belt favourability
      properties:
        id:
          type: string
          description: The constant ID for this schema.
          enum:
          - grey-belt-type-id
          example: grey-belt-type-id
        values:
          type: array
          description: A list of grey belt land favourability.
          items:
            type: object
            required:
            - key
            - checked
            properties:
              key:
                type: string
                description: The key representing the grey belt land favourability type.
                enum:
                - grey_belt_land_more_favourable
                - grey_belt_land_average_favourability
                - grey_belt_land_less_favourable
                x-enumDescriptions:
                  grey_belt_land_more_favourable: More favourable
                  grey_belt_land_average_favourability: Average favourability
                  grey_belt_land_less_favourable: Less favourable
                example: grey_belt_land_more_favourable
              checked:
                type: boolean
                description: Indicates whether this favourability type is selected or not.
                enum:
                - true
                example: true
        must:
          type: string
          enum:
          - MATCH_ANY
          - MATCH_NONE
          description: The match type for filtering the grey belt land favourability options.
          example: MATCH_ANY
      required:
      - values
      - must
      - id
    ProprietorName:
      type: object
      title: Owner Name
      properties:
        id:
          type: string
          enum:
          - proprietor-name
          example: proprietor-name
          description: The unique identifier for the owner name filter.
        must:
          type: string
          enum:
          - CONTAIN
          - NOT_CONTAIN
          description: The match type for filtering the owner name.
          example: CONTAIN
        text:
          type: string
          description: The text value to search for in owner name.
          example: foo
      required:
      - id
      - must
      - text
    LeaseStartDate:
      type: object
      title: Lease Start Date
      properties:
        id:
          type: string
          description: The constant ID for this schema.
          enum:
          - lease-start-date
          example: lease-start-date
        range:
          type: array
          description: "`[\"2025-01-01T00:00:00.000Z\", \"2025-08-31T22:59:59.999Z\"]` \nrepresents a range from **Jan 1st 2025 to Aug 31st 2025 at 22:59**.\nAn array with 2 items that represent the range of dates for the lease start date.\n\nThe first item is the start date, and the second item is the end date.\n"
          items:
            type: string
            format: date-time
          minItems: 2
          maxItems: 2
          example:
          - '2025-01-01T00:00:00.000Z'
          - '2025-08-31T22:59:59.999Z'
      required:
      - id
      - range
    PowerDistanceFilter:
      type: object
      title: Power Distance Filter
      properties:
        id:
          type: string
          enum:
          - power-distance-filter
          example: power-distance-filter
          description: The unique identifier for the power distance filter.
        value:
          type: number
          example: 5000
          description: The distance value for the power distance filter, in meters.
      required:
      - id
      - value
    RegenerationZonesEmerging:
      type: object
      title: Regeneration Zones - Emerging
      properties:
        id:
          type: string
          description: The constant ID for this schema.
          enum:
          - regeneration-zones-emerging-id
          example: regeneration-zones-emerging-id
        values:
          type: array
          description: A list of regeneration zone values with associated keys and checked status.
          items:
            type: object
            required:
            - key
            properties:
              key:
                type: string
                description: The key representing the regeneration zone type.
                enum:
                - area_action_plans
                - named_regeneration_areas
                x-enumDescriptions:
                  area_action_plans: Area Action Plans
                  named_regeneration_areas: Named Regeneration Areas
                example: area_action_plans
              checked:
                type: boolean
                description: Indicates whether this regeneration zone type is selected or not.
                example: true
        must:
          type: string
          enum:
          - MATCH_ANY
          - MATCH_NONE
          description: The match type for filtering the regeneration zone options.
          example: MATCH_ANY
      required:
      - values
      - must
      - id
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
