openapi: 3.2.0
info:
  title: LandTech Development Opportunities API
  description: Search for land parcels and retrieve detailed insights on ownership, planning applications and property details.
  version: 0.3.0
servers:
- url: https://app.land.tech/api
  description: LandTech API Service
security:
- ApiKeyAuth: []
tags:
- name: Development Opportunities
  description: Endpoint to get details of Named Regeneration Areas and Area Action Plans
paths:
  /development_opportunities/{development_opportunities_id}:
    get:
      operationId: getDevelopmentOpportunity
      description: Given a development opportunity ID, get details about a development opportunity
      summary: Details about a single development opportunity
      tags:
      - Development Opportunities
      parameters:
      - name: development_opportunities_id
        required: true
        in: path
        description: ID for a specific development opportunity site
        schema:
          $ref: '#/components/schemas/DevelopmentOpportunityID'
      responses:
        '200':
          description: Details about a single development opportunity site
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevelopmentOpportunityFeature'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
  /development_opportunities:
    post:
      operationId: getDevelopmentOpportunities
      description: Given a set of development opportunity IDs, get details about development opportunities in bulk
      summary: Bulk - Details about development opportunities
      tags:
      - Development Opportunities
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - ids
              properties:
                ids:
                  type: array
                  description: List of development opportunity IDs (max 50)
                  maxItems: 50
                  items:
                    type: string
                    example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Details about development opportunities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevelopmentOpportunityFeatureCollection'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
  /development_opportunities/lite:
    post:
      operationId: getDevelopmentOpportunitiesLite
      description: Given a set of development opportunity IDs, get details about development opportunities in bulk without geometry data
      summary: Bulk - Details about development opportunities (without geometry)
      tags:
      - Development Opportunities
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - ids
              properties:
                ids:
                  type: array
                  description: List of development opportunity IDs (max 50)
                  maxItems: 50
                  items:
                    type: string
                    example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Details about development opportunities (without geometry)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevelopmentOpportunityFeatureCollectionLite'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
components:
  schemas:
    DevelopmentOpportunityFeatureCollection:
      allOf:
      - $ref: '#/components/schemas/Features'
      - type: object
        properties:
          data:
            properties:
              features:
                type: array
                items:
                  $ref: '#/components/schemas/DevelopmentOpportunityFeatureItem'
    DevelopmentOpportunityFeatureItem:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/DevelopmentOpportunityID'
        type:
          example: area_action_plans
        name:
          example: Action Areas
        attributes:
          example: null
    Forbidden:
      oneOf:
      - type: object
        required:
        - user
        properties:
          user:
            type: object
            required:
            - state
            properties:
              state:
                type: string
                enum:
                - expired
                - blocked
                example: expired
      - type: object
        required:
        - message
        properties:
          message:
            type: string
            example: User not found
    PointCoordinates:
      type: array
      maxItems: 2
      minItems: 2
      example:
      - -0.12755
      - 51.5073
      items:
        type: number
    PolygonCoordinates:
      type: array
      items:
        $ref: '#/components/schemas/LinearRingCoordinates'
    DevelopmentOpportunityFeatureCollectionLite:
      allOf:
      - $ref: '#/components/schemas/FeaturesLite'
      - type: object
        properties:
          data:
            properties:
              features:
                type: array
                items:
                  $ref: '#/components/schemas/DevelopmentOpportunityFeatureItem'
    DevelopmentOpportunityFeature:
      allOf:
      - $ref: '#/components/schemas/Feature'
      - type: object
        properties:
          data:
            properties:
              feature:
                $ref: '#/components/schemas/DevelopmentOpportunityFeatureItem'
    DevelopmentOpportunityID:
      type: string
      format: uuid
      description: A development opportunity ID in the form of a UUID.
      example: 836cc2d8-4596-4bb6-9630-a6429c93305f
    MultiPolygon:
      description: GeoJSON MultiPolygon
      externalDocs:
        url: https://datatracker.ietf.org/doc/html/rfc7946
      type: object
      required:
      - type
      - coordinates
      properties:
        type:
          type: string
          enum:
          - MultiPolygon
          example: MultiPolygon
          description: the geometry type
        coordinates:
          type: array
          items:
            $ref: '#/components/schemas/PolygonCoordinates'
    FeaturesLite:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/FeatureDataLite'
    FeatureBase:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type:
          - string
          - 'null'
        type:
          type: string
        attributes:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          description: Attributes containing any additional details about the feature
        geometries:
          type: array
          description: Array of geometries relating to the feature
          items:
            type: object
            properties:
              area_hectares:
                type:
                - number
                - 'null'
                format: float
                example: 0.2023428
              geometry:
                type: object
                description: GeoJSON of the feature.
                oneOf:
                - $ref: '#/components/schemas/Polygon'
                - $ref: '#/components/schemas/MultiPolygon'
    FeatureBaseLite:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type:
          - string
          - 'null'
        type:
          type: string
        attributes:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          description: Attributes containing any additional details about the feature
    Features:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/FeatureData'
    FeatureData:
      type: object
      properties:
        features:
          type: array
          items:
            $ref: '#/components/schemas/FeatureBase'
    FeatureDataLite:
      type: object
      properties:
        features:
          type: array
          items:
            $ref: '#/components/schemas/FeatureBaseLite'
    Polygon:
      externalDocs:
        url: https://datatracker.ietf.org/doc/html/rfc7946
      type: object
      required:
      - type
      - coordinates
      properties:
        type:
          type: string
          enum:
          - Polygon
          example: Polygon
          description: the geometry type
        coordinates:
          $ref: '#/components/schemas/PolygonCoordinates'
    LinearRingCoordinates:
      type: array
      minItems: 4
      items:
        $ref: '#/components/schemas/PointCoordinates'
    Feature:
      type: object
      properties:
        data:
          type: object
          properties:
            feature:
              $ref: '#/components/schemas/FeatureBase'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
