openapi: 3.0.3
info:
  title: LandTech Additional Opportunities Renewable Energy Planning DB API
  description: 'Search for land parcels and retrieve detailed insights on ownership, planning applications and property details.

    '
  version: 0.3.0
servers:
- url: https://app.land.tech/api
  description: LandTech API Service
security:
- ApiKeyAuth: []
tags:
- name: Renewable Energy Planning DB
  description: Endpoint to get details on sites from the Renewable Energy Planning Database
paths:
  /renewable_energy_planning_db/{repd_id}:
    get:
      operationId: getRepd
      description: Given a Renewable Energy Planning DB ID, get details about a single Renewable Energy Planning DB site
      summary: Details about a single Renewable Energy Planning DB site
      tags:
      - Renewable Energy Planning DB
      parameters:
      - name: repd_id
        required: true
        in: path
        description: ID for a specific Renewable Energy Planning DB site
        schema:
          $ref: '#/components/schemas/RepdID'
      responses:
        '200':
          description: Details about a single site from the Renewable Energy Planning DB
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepdFeature'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
  /renewable_energy_planning_db:
    post:
      operationId: getRepds
      description: Given a set of Renewable Energy Planning DB IDs, get details about Renewable Energy Planning DB sites in bulk
      summary: Bulk - Details about Renewable Energy Planning DB sites
      tags:
      - Renewable Energy Planning DB
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - ids
              properties:
                ids:
                  type: array
                  description: List of Renewable Energy Planning DB IDs (max 50)
                  maxItems: 50
                  items:
                    type: string
                    example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Details about Renewable Energy Planning DB sites
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepdFeatureCollection'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
  /renewable_energy_planning_db/lite:
    post:
      operationId: getRepdsLite
      description: Given a set of Renewable Energy Planning DB IDs, get details about Renewable Energy Planning DB sites in bulk without geometry data
      summary: Bulk - Details about Renewable Energy Planning DB sites (without geometry)
      tags:
      - Renewable Energy Planning DB
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - ids
              properties:
                ids:
                  type: array
                  description: List of Renewable Energy Planning DB IDs (max 50)
                  maxItems: 50
                  items:
                    type: string
                    example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Details about Renewable Energy Planning DB sites (without geometry)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepdFeatureCollectionLite'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
components:
  schemas:
    RepdFeatureCollectionLite:
      allOf:
      - $ref: '#/components/schemas/FeaturesLite'
      - type: object
        properties:
          data:
            properties:
              features:
                type: array
                items:
                  $ref: '#/components/schemas/RepdFeatureItem'
    FeatureBase:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          nullable: true
        type:
          type: string
        attributes:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          description: Attributes containing any additional details about the feature
        geometries:
          type: array
          description: Array of geometries relating to the feature
          items:
            type: object
            properties:
              area_hectares:
                type: number
                format: float
                nullable: true
                example: 0.2023428
              geometry:
                type: object
                description: GeoJSON of the feature.
                oneOf:
                - $ref: '#/components/schemas/Polygon'
                - $ref: '#/components/schemas/MultiPolygon'
    PolygonCoordinates:
      type: array
      items:
        $ref: '#/components/schemas/LinearRingCoordinates'
    Feature:
      type: object
      properties:
        data:
          type: object
          properties:
            feature:
              $ref: '#/components/schemas/FeatureBase'
    MultiPolygon:
      description: GeoJSON MultiPolygon
      externalDocs:
        url: https://datatracker.ietf.org/doc/html/rfc7946
      type: object
      required:
      - type
      - coordinates
      properties:
        type:
          type: string
          enum:
          - MultiPolygon
          example: MultiPolygon
          description: the geometry type
        coordinates:
          type: array
          items:
            $ref: '#/components/schemas/PolygonCoordinates'
    FeatureDataLite:
      type: object
      properties:
        features:
          type: array
          items:
            $ref: '#/components/schemas/FeatureBaseLite'
    FeatureData:
      type: object
      properties:
        features:
          type: array
          items:
            $ref: '#/components/schemas/FeatureBase'
    FeatureBaseLite:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          nullable: true
        type:
          type: string
        attributes:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          description: Attributes containing any additional details about the feature
    LinearRingCoordinates:
      type: array
      minItems: 4
      items:
        $ref: '#/components/schemas/PointCoordinates'
    PointCoordinates:
      type: array
      maxItems: 2
      minItems: 2
      example:
      - -0.12755
      - 51.5073
      items:
        type: number
    RepdFeature:
      allOf:
      - $ref: '#/components/schemas/Feature'
      - type: object
        properties:
          data:
            properties:
              feature:
                $ref: '#/components/schemas/RepdFeatureItem'
    RepdFeatureItem:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/RepdID'
        type:
          example: repd_wind
        name:
          example: Loganswell Farm
        attributes:
          example:
          - key: planning_authority
            value: East Renfrewshire Council
          - key: planning_application_submitted
            value: 15/04/2014
          - key: planning_application_withdrawn
            value: 18/09/2014
          - key: abc_planning_application_reference
            value: 2014/0250/TP
          - key: number_of_turbines
            value: '66'
          - key: abc_development_status
            value: Planning Application Withdrawn
          - key: abc_installed_capacity_(mw)
            value: '16'
          - key: a_site_name
            value: Loganswell Farm
          - key: turbine_capacity_(mw)
            value: '0.25'
          - key: a_technology_type
            value: Wind Onshore
          - key: ab_operator_or_applicant
            value: Lifetime Energy
          - key: abc_site_address
            value: Land At Loganswell Farm 443 Ayr Road Loganswell East Renfrewshire G77 6RY
          - key: reference
            value: '4396'
          - key: last_updated
            value: 01/09/2014
    RepdFeatureCollection:
      allOf:
      - $ref: '#/components/schemas/Features'
      - type: object
        properties:
          data:
            properties:
              features:
                type: array
                items:
                  $ref: '#/components/schemas/RepdFeatureItem'
    Features:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/FeatureData'
    Polygon:
      externalDocs:
        url: https://datatracker.ietf.org/doc/html/rfc7946
      type: object
      required:
      - type
      - coordinates
      properties:
        type:
          type: string
          enum:
          - Polygon
          example: Polygon
          description: the geometry type
        coordinates:
          $ref: '#/components/schemas/PolygonCoordinates'
    RepdID:
      type: string
      format: uuid
      description: A REPD ID in the form of a UUID.
      example: 947fa210-e051-4256-829e-5f3de5bacbd3
    FeaturesLite:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/FeatureDataLite'
    Forbidden:
      oneOf:
      - type: object
        required:
        - user
        properties:
          user:
            type: object
            required:
            - state
            properties:
              state:
                type: string
                enum:
                - expired
                - blocked
                example: expired
      - type: object
        required:
        - message
        properties:
          message:
            type: string
            example: User not found
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
